<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Roadside Assistance | @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    @*   <link rel="stylesheet" href="~/Roadside_Assistance.styles.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pavanam&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar  navbar-expand-lg pt-3 pb-3 bg-body-tertiary" >
            <div class="container-fluid">
                <a class="navbar-brand fs-3  " asp-area="" asp-controller="Home" asp-action="Index">Roadside Assistance</a>
                <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarColor01">
                    <ul class="navbar-nav me-auto p-3 ">
                        <li class="nav-item ">
                            <a class="nav-link  " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User.IsInRole("Admin") || User.IsInRole("User") || User.IsInRole("Provider")){
                        <li class="nav-item ">
                            <a class="nav-link  " asp-area="" asp-controller="History" asp-action="Index">Order</a>
                        </li>
                        }
                     @if (User.IsInRole("User"))
                        {
                            <li class="nav-item ">
                                <a class="nav-link  " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>

                            <li class="nav-item ">
                                <a class="nav-link  " asp-area="" asp-controller="Home" asp-action="Service">Services</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link  " asp-area="" asp-controller="Home" asp-action="About_Us">About Us</a>
                            </li>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item ">
                                <a class="nav-link  " asp-area="" asp-controller="Services" asp-action="Index">Services</a>
                            </li>
                        <li class="nav-item ">
                            <a class="nav-link " asp-area="" asp-controller="RoleManage" asp-action="Index">Roles</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link " asp-area="" asp-controller="UserMange" asp-action="Index">Users</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link  " asp-area="" asp-controller="Admin" asp-action="ProvidersFormApp">Provider Reqs</a>
                            </li>

                        }
                         @if (User.IsInRole("Provider"))
                        {
                            <li class="nav-item ">
                                <a class="nav-link  " asp-area="" asp-controller="Provider" asp-action="Index">Services</a>
                            </li>
                            
                        }
                    </ul>
                    <partial name="_LoginPartial"/>
                </div>
            </div>
        </nav>
    </header>
    @RenderBody()

    <div class="footer">
        <div class="container">
            <div class="row p-5 d-flex justify-content-around">
                <div class="col-sm-12 col-md-6 col-lg-3 text-center">
                    <h2 class="text-light">Our services</h2>
                    <hr class="text-light" />
                    <ul class="text-light">
                        <li>Mechanics</li>
                        <li>Car Checks</li>
                        <li>Oil and Break Checks</li>
                        <li>Breakdown Services</li>
                        <li>Tire Change</li>
                        <li>Battery Change</li>
                        <li>Towing Services</li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 text-center">
                    <h2 class="text-light">Working Hours</h2>
                    <hr class="text-light" />
                    <p class="text-light fs-4">24H </p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 text-center">
                    <h2 class="text-light">Contact Us</h2>
                    <hr class="text-light" />
                    <p class="text-light">Tel: 123-456-7890 </p>
                    <p class="text-light">Roadside@gmail.com</p>
                </div>
            </div>
        </div>
       
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
