@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<link href="~/css/landing2.css" rel="stylesheet" />
<div class="text-center">
    <h1>Manage your account</h1>
    <hr />
</div>

<div class="landing">
  
    <div class="row">
        <div class="col-md-3 text-black ">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
