@model ServiceViewModel
@{
    ViewData["Title"] = "Update Service";
}

<link href="~/css/services.css" rel="stylesheet" />
<div class="landing">
    <div class="container">
        <div class="service  d-flex text-light justify-content-center align-items-center mb-2">
            <p class="text">Update Service</p>
        </div>
    <form method="post" asp-action="UpdateService">
        <div class="m-1">
            <label asp-for="Name" class="form-label mt-4"></label>
            <input asp-for="Name" type="text" class="form-control"  placeholder="Enter The Name">
            <span asp-validation-for="Name"></span>
        </div>
        <div class="m-1">
            <label asp-for="Price" class="form-label mt-4"></label>
            <input asp-for="Price" type="text" class="form-control"  placeholder="Enter The Price">
            <span asp-validation-for="Price"></span>
        </div>
        <div class="m-1">
            <label asp-for="Description" class="form-label mt-4"></label>
            <input asp-for="Description" type="text" class="form-control"  placeholder="Enter The Description">
            <span asp-validation-for="Description"></span>
        </div>
            <div class=" d-flex text-light justify-content-center align-items-center">
            <button type="submit" class=" btn btn-primary"> Update </button>
        </div>
    </form>
</div>
</div>
@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

