@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Rolemanger";
}

<h1>Roles</h1>

<partial name="_RoleForm" model=" new RoleViewModel()" />
<table class="table">
    <thead class="thead-dark">
        <tr>
            
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach(var Role in Model )
    {
        <tr>
            <td>@Role.Id</td>
            <td>@Role.Name</td>
        </tr>
        
    }
</tbody>
 </table>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}