@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "RequestForm";
}
<div class="container align-content-center">
    
    
    <form>
        <legend>RequestForm</legend>
        

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">

            <div >
                <label for="" class="form-label mt-4">First Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your First Name">
            </div>
            <div >
                <label for="" class="form-label mt-4">Second Name</label>
                <input type="text" class="form-control" id="" aria-describedby="emailHelp" placeholder="Enter Your Second Name">
            </div>
            <div >
                <label for="" class="form-label mt-4">Email address</label>
                <input type="email" class="form-control" id="" aria-describedby="emailHelp" placeholder="Enter Your email">
            </div>
            <div>
                <label for="" class="form-label mt-4">Phone Number</label>
                <input type="text" class="form-control" id="" placeholder="Enter your Phone Number">
                <small class="form-text text-muted">Please Enter A Valid Phone Number</small>
            </div>

                <div class="row">

                    <div class="col-lg-4 col-md-6 col-sm-12">

                        <span>enter Your Location on the map </span>
                        <h1> Fooooooooooooor Theeeeeeeeee Mapppppppppppp</h1>
                    </div>
                </div>
            

            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        </div>
    </form>
</div>