@{
    ViewData["Title"] = "About_Us Page";
}
<link href="~/css/about_us.css" rel="stylesheet" />
<div>
    <div class="aboutus d-flex text-light justify-content-center align-items-center">
        <p class="text">About Us</p>
    </div>

        <div class="landing container mt-3 ">
            <p class="fs-4 text-black">Welcome to roadside assistance,  your go-to for roadside help! We get that car troubles can be a struggle, so we're here to make things easy.</p>

            <p class="fs-4 text-black"> Our team is all about giving you quick and reliable assistance whenever you need it.</p>

            <p class="fs-4 text-black"> Whether it's a flat tire or a dead battery, we've got your back.</p>

            <p class="fs-4 text-black"> roadside assistance is designed to be super user-friendly, with fast response times and a crew of skilled pros to get you back on the road in no time.</p>

            <p class="fs-4 text-black"> Think of us as your reliable road trip buddy, making sure your journey stays smooth.</p>

            <p class="fs-4 text-black"> Join us, and let roadside assistance be the friend you can count on for struggle-free travels!</p> 
        </div>

    <div class="assistance d-flex align-items-center justify-content-around">
       
            <p class="requestp fs-2 text-black"> Need Our Assistance ?</p>
        <a asp-controller="Home" asp-action="Service" class="btn btn-primary fs-5 rounded-pill ">Request A Service</a>
        
    </div>
</div>
