@model IEnumerable<Services>
@{
    ViewData["title"] = "Services";
}
<link href="~/css/services.css" rel="stylesheet" />
<div class="landing">
    <div class="service  d-flex text-light justify-content-center align-items-center mb-2">
        <p class="text">Services</p>
    </div>
    <div class="container">
        <div class=" d-flex text-light">
@foreach (var s in Model)
{
 <div class="card m-2" style="width: 20rem;">
  <div class="card-body">
            <h5 class="card-title"> @s.Name </h5>  
            <p class="card-text">  @s.Description</p>
            <p>Price : @s.Price </p>

                        <a asp-controller="Request" asp-action="RequestForm" class="btn btn-primary">Request Service</a>
  </div>
</div>
}
        </div>
    </div>
</div>

